.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  box-sizing: content-box;
  height: 500px;
  width: 500px;
  border: 1px black solid;
}

.square {
  border: 1px rgba(0, 0, 0, 0.199) solid;
  background-color: white;
}

.square:hover {
  background-color: aqua;
}

.top {
  border-top: 0px;
}

.left {
  border-left: 0px;
}

.right {
  border-right: 0px;
}

.bottom {
  border-bottom: 0px;
}